<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	
	<uses-permission android:name="android.permission.INTERNET" />
	
	<application
		android:name=".application.CoApplication"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.CooderLibrary"
		android:usesCleartextTraffic="true"
		tools:targetApi="31">
		<activity
			android:name=".ui.MainActivity"
			android:exported="true"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.test.TestActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.log.CoLogActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.tab.CoTabBottomActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.tab.CoTabTopActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.refresh.CoRefreshActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.banner.CoBannerActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.item.CoDataItemActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.slider.CoSliderActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.databus.CoDataBusActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.cache.CoCacheActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.navigation.CoNavigationBarActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.search.CoSearchViewActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.amount.CoAmountViewActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
	</application>

</manifest>